!!!
%html
  %head
    %title Author - 沖縄映画上映時間一覧
    %meta(charset='UTF-8')
    %meta(name='viewport' content='width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;')
    %meta(name='google-site-verification' content='tDZ9fuKpneSTeb3dDYJEK8rkFSVoyR9WBg78M3g8QwI')
    %link(rel='shortcut icon' href='favicon.ico')
    %link(rel='stylesheet' media='screen' href='/stylesheets/iphone.css')
    %script(src='/scripts/iphone.js')
    %script(src='/scripts/google-analytics.js')
    %style(type='text/css' media='screen') li.picture { background: #fff url(/images/profile.jpg) no-repeat !important; }

  %body
    %div#header
      %h1 Author
      %a#backButton(href='/') Back

    %ul.profile
      %li.picture
      %li.clearfix
        %h2 Tomohiro, TAIRA
        %p tomohiro.github.com

    %ul.data
      %li
        %p Develper

    %h1 Contact

    %ul.field
      %li
        %h3 E-mail
        %a(href='mailto:tomohiro.t@gmail.com') tomohiro.t@gmail.com
      %li.arrow
        %h3 Web
        %a(href='http://tomohiro.github.com') tomohiro.github.com
      %li.arrow
        %h3 Blog
        %a(href='http://tomohiro.posterous.com') tomohiro.posterous.com
      %li.arrow
        %h3 Twitter
        %a(href='http://twitter.com/Tomohiro') @Tomohiro
      %li.arrow
        %h3 Tumblr.
        %a(href='http://tomohiro.tumblr.com') tomohiro.tumblr.com
      %li.arrow
        %h3 GitHub
        %a(href='http://github.com/Tomohiro') Tomohiro's Profile

    %ul.individual
      %li
        %a(href='/') Back
      %li
        %a(href='http://pledgie.com/campaigns/10874') Donate

    %p
      %strong powered by
      %a(href='http://heroku.com') Heroku
      %a(href='http://www.sinatrarb.com/intro-jp.html') Sinatra
      %a(href='http://code.google.com/p/iphone-universal') UiUIKit
