!!!
%html
  %head
    %title 沖縄映画上映時間一覧
    %meta(charset='UTF-8')
    %meta(name='viewport' content='width=320; initial-scale=1.0; user-scalable=1;')
    %meta(name='google-site-verification' content='tDZ9fuKpneSTeb3dDYJEK8rkFSVoyR9WBg78M3g8QwI')
    %link(rel='shortcut icon' href='favicon.ico')
    %link(rel='stylesheet' media='screen' href='iui/iui.css')
    %script(src='iui/iuix.js')
    %script(src='google-analytics.js')

  %body
    %div.toolbar
      %h1#pageTitle
      %a#backButton.button(href='#')

    %ul(title='Movies' selected='true')
      = @movies

    = @times
