!!!
%html
  %head
    %meta(charset='UTF-8')
    %link(rel='stylesheet' media='screen' href='styles/reset-min.css')
    %link(rel='stylesheet' media='screen' href='styles/fonts-min.css')
    %link(rel='stylesheet' media='screen' href='styles/design.css')
    %link(rel='stylesheet' media='only screen and (max-device-width: 480px)' href='styles/iphone.css')
    %title=@title

  %body
    %pre
      %code=@body
