!!!
%html
  %head
    %title 沖縄映画上映時間一覧
    %meta(http-equiv='content-type' content='text/html' charset='UTF-8')
    %meta(name='google-site-verification' content='tDZ9fuKpneSTeb3dDYJEK8rkFSVoyR9WBg78M3g8QwI')

  %body
    %h1 沖縄映画上映時間一覧

    %dl
      - @movies.each do |movie|
        %dt= movie.title
        %dd= movie.description
